<h1>Add a new ingredient to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.all, label: 'Choose a ingredient:' %>
  <%= f.input :description , label: 'Amount:' %>
  <%= f.button :submit, 'Add Ingredient!' %>
<% end %>
